h1{
    color: blue;
    font-size: 60px;
}
#main-img{
    width: 50%;
    height: 50%;
    margin: auto;
    display: block;
    margin-bottom: 10px;
}
#head-text{
    font-family: Arial, Serif;
    display: inline;
    font-size: 20px;


}

#board{
/*    max-width: 640px;
    min-width: 320px;*/
    padding: 0;
    display: block;
    float: none;
    margin: auto
}

.square{
    background-color: #FFF;
    outline: none;
    width: 100px;
    height: 100px;
    padding: 0; !important;
    font-size: 40px;
}

.square:hover{
    background:linear-gradient(deepskyblue, white)
}

.winning-square{
    background: linear-gradient(deeppink,white) !important;

}

#A1{
    border: 0;
    border-right: 0px solid black;
}
#C1{
    border: 0;
    border-left: 0px solid black;
}

#B1{
    border-left: 4px solid black;
    border-right: 4px solid black;
    border-top: 0;
    border-bottom: 0;

}
#A2{
    border-bottom: 4px solid black;
    border-top: 4px solid black;
    border-right: 0;
    border-left: 0;

}

#B2{
    border-bottom: 4px solid black;
    border-top: 4px solid black;
    border-right: 4px solid black;
    border-left: 4px solid black;

}
#C2{
    border-bottom: 4px solid black;
    border-top: 4px solid black;
    border-right: 0;
    border-left: 0;
}
#A3{
    border: 0;
}
#C3{
    border: 0;
}
#B3{
    border-left: 4px solid black;
    border-right: 4px solid black;
    border-bottom: 0;
    border-top: 0;
}

#restart-button{
    display: block;
    margin: auto;
    margin-top: 20px;
}